body{
    margin: 0;
    background: #e4e4e4;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.square{
    height: 300px;
    width: 300px;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 50px;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffab02;
}

.a{
    box-shadow: 20px 20px #474747;
}

.b{
    box-shadow: 20px 20px 5px #474747;
}

.c{
    box-shadow: 30px 30px 5px #474747;
}

.d{
    box-shadow: 30px 30px 5px #9f9f9f;
}

.e{
    border-radius: 10px;
    box-shadow: 30px 30px 5px #474747;
}

.f{
    border-radius: 10px;
    box-shadow: 30px 30px 5px #9f9f9f;
}

.img1{
    width: 100%;
    background: white;
    padding: 10px;
}

.header{
    text-align: center;
    background: #8a2928;
    color: white;
}

.silver-paragraph{
    background: #c0c0c0;
    padding: 20px;
    margin: 0;
}
.blue-paragraph{
    background: #6496ec;
    margin: 0;
    padding: 30px 0;
}

.wrapper{
    width: 20%;
}

.green-square{
    width: 200px;
    height: 200px;
    background: #6bba67;
}
.purple-square{
    width: 200px;
    height: 200px;
    border-radius: 30px;
    background: #8987ac;
}