.w25 {
    width: 25%;
}

.w32 {
    width: 32.5%;
}

.w33 {
    width: 33.333%;
}

.w50 {
    width: 50%;
}

.w75 {
    width: 75%;
}

.w100 {
    width: 100%;
}

.w50px{
    width: 50px;
}
.w100px{
    width: 100px;
}

.h50px {
    height: 50px;
}

.h100px {
    height: 100px;
}

.h150px {
    height: 150px;
}

.h310px {
    height: 310px;
}

.font-s-xx-large {
    font-size: xx-large;
}

.bg-silver {
    background: #d9d9d9;
}

.bg-white {
    background: white;
}
.bg-blue {
    background: #246abb;
}

.bg-green {
    background: #56c3b6;
}

.bg-dark-blue {
    background: #18467b;
}

.color-white {
    color: white;
}

.color-silver {
    color: silver;
}

.color-orangered {
    color: orangered;
}

.pdn {
    padding: 10px;
}

.mrg-bt-10px {
    margin-bottom: 10px;
}

.mrg-t-10px {
    margin-top: 10px;
}

.mr-r-10px {
    margin-right: 10px;
}

.brd {
    border: 1px solid black;
}

.brd-r-10 {
    border-radius: 10px;
}

.box-s-b-b {
    box-sizing: border-box;
}

.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.grid {
    gap: 10px
}

.frame {
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid black;
    background: #f3f3f3;
}

.round {
    border-radius: 50%;
}

.pos-rel{
    position: relative;
    top: 15px;
}